@use "../abstracts/" as *;

.btn {
  all: unset;
  color: #fff;
  background-color: $contrast-color;
  border-radius: 50%;;
  border: 2px solid $background-color; 
  box-shadow: 0 0 0 2px $contrast-color-light;
 
  margin: 0;
}


.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
  display: none;
}
.list:has(.checkbox:checked){
  + .btn-wrapper{
    display: flex
  }
}


.btn-delete {
  border-radius: 3rem;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  font-size: 2rem;
  margin-inline:auto 0;
}

.btn-delete svg path{
  stroke: $background-color;
  stroke-width: 1.2px; 
  paint-order: stroke fill;
}
.shopping-item__btn svg path{
  stroke: #fff;
  stroke-width: 0.5px; 
  paint-order: stroke fill;
}
.store__btn {
  all: unset;
  color: $contrast-color;
  padding: 0.8rem 1.5rem;
  position: absolute;
  right: 0%;
  top: 5%;
  background-color: transparent;
  font-weight: bold;
}

.shopping-item__btn {
  border-radius: 4rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 2rem;
  text-align: center;

}
