@use "../abstracts/" as *;

.btn {
  all: unset;
  color: #fff;
  background-color: $contrast-color;
  border-radius: 50%;
  border: 2px solid $background-color; 
  box-shadow: 0 0 0 2px $contrast-color-light;
 display: flex;
  align-items: center;
  justify-content: center;

}


.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
  display: none;
}
.list:has(.checkbox:checked){
  + .btn-wrapper{
    display: flex
  }
}


.btn-delete {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  margin-inline:auto 0;
   text-align: center;
}

.btn-delete svg path{
  stroke: $background-color;
  stroke-width: 1.3px; 
  paint-order: stroke fill;
}
.shopping-item__btn svg path{
  stroke: #fff;
  stroke-width: 0.7px; 
  paint-order: stroke fill;
}
.store__btn {
  all: unset;
  color: $contrast-color;
  padding: 0.8rem 1.5rem;
  position: absolute;
  right: 0%;
  top: 5%;
  background-color: transparent;
  font-weight: bold;
}

.shopping-item__btn {
   width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;

}
