@use "../abstracts/" as *;
.footer {
  &__heading {
    font-size: 1.7rem;
    padding-block: 2rem 1rem;
    text-align: center;
    color: $contrast-color;
  }
  &__container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }
}
