@use "../abstracts/" as *;

.list {
  list-style: none;
  @media (min-width: 630px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0.8rem;
  }
}

.shopping-item {
  display: none;
}
.shopping-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem 2rem;
}

.shopping-item__input {
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  width: 80%;
  border: none;
  border-radius: 1.5rem;

  margin-inline: 0;
}

input:focus {
  outline: none;
  border: 1px solid $contrast-color;
}
.list__label {
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  color: $contrast-color;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.612);
  flex-basis: 100%;
}
.list__item {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listCheckbox {
  height: 2rem;
  width: 2rem;
  accent-color: rgb(215, 10, 154);
}
input[type="listCheckbox"] {
  margin: 0;
}
