@use "../abstracts/" as *;

.main__heading {
  font-size: 2.5rem;
  padding-block: 2rem 0.5rem;
  text-align: center;
  color: $contrast-color;
}
.main__subheading {
  font-size: 1.6rem;
  padding-block: 0rem 1.2rem;
  text-align: center;
  color: rgb(215, 10, 154);
  border-bottom: 1px solid $contrast-color;
}
.list {
  list-style: none;
}

.shopping-item {
  display: none;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem 2rem;
}

.shopping-item__input {
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  width: 80%;
  border: none;
  border-radius: 1.5rem;

  margin-inline: 0;
}
.store {
  display: flex;
  justify-content: center;
  width: 75%;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 1rem;
}
.store__input {
  width: 100%;
  padding: 0.8rem 0.5rem 0.8rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  margin-inline: 0;
}

input:focus {
  outline: none;
  border: 1px solid $contrast-color;
}
.list__label {
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  color: $contrast-color;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.612);
  flex-basis: 100%;
}
.list__item {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listCheckbox {
  height: 2rem;
  width: 2rem;
  accent-color: rgb(215, 10, 154);
}
input[type="listCheckbox"] {
  margin: 0;
}
