@use "../abstracts/" as *;

.store {
  display: flex;
  justify-content: center;
  width: 75%;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 1rem;
  @media (min-width: 630px) {
    max-width: 50%;
  }
}
.store__input {
  width: 100%;
  padding: 0.8rem 0.5rem 0.8rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  margin-inline: 0;
}

input:focus {
  outline: none;
  border: 1px solid $contrast-color;
}
