* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(rgb(172, 165, 138), rgba(172, 165, 138, 0.447), rgb(172, 165, 138));
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  background-color: beige;
  width: 85vw;
  min-height: 80vh;
  margin-top: 3rem;
  padding-inline: 3.5rem;
  box-shadow: 0px 0px 5px rgba(61, 47, 142, 0.895);
  border-radius: 0.3rem;
  position: relative;
  padding-bottom: 1.5rem;
}
@media (min-width: 630px) {
  .main {
    padding-top: 2rem;
    padding-inline: 5rem;
  }
}

.footer {
  width: 90vw;
}

.list {
  list-style: none;
}
@media (min-width: 630px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0.8rem;
  }
}

.shopping-item {
  display: none;
}

.shopping-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem 2rem;
}

.shopping-item__input {
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  width: 80%;
  border: none;
  border-radius: 1.5rem;
  margin-inline: 0;
}

input:focus {
  outline: none;
  border: 1px solid rgba(61, 47, 142, 0.895);
}

.list__label {
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  color: rgba(61, 47, 142, 0.895);
  margin: 0;
  background-color: rgba(255, 255, 255, 0.612);
  flex-basis: 100%;
}

.list__item {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listCheckbox {
  height: 2rem;
  width: 2rem;
  accent-color: rgb(215, 10, 154);
}

input[type=listCheckbox] {
  margin: 0;
}

.btn {
  all: unset;
  color: beige;
  background-color: rgba(61, 47, 142, 0.895);
  border-radius: 2rem;
  box-shadow: inset 0px 0px 8px 2px beige;
  border: 1px solid rgb(172, 165, 138);
  margin: 0;
}

.btn-delete {
  border-radius: 3rem;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  right: 3.5rem;
  text-align: center;
}
@media (min-width: 630px) {
  .btn-delete {
    right: 5rem;
  }
}

.store__btn {
  all: unset;
  color: rgba(61, 47, 142, 0.895);
  padding: 0.8rem 1.5rem;
  position: absolute;
  right: 0%;
  background-color: transparent;
  font-weight: bold;
}

/* .shopping-item__btn {
  padding: 0.7rem 2rem 0.5rem 2rem;
} */
.shopping-item__btn {
  border-radius: 4rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 2rem;
  text-align: center;
}

.main__heading {
  font-size: 2.5rem;
  padding-block: 2rem 0.5rem;
  text-align: center;
  color: rgba(61, 47, 142, 0.895);
}

.main__subheading {
  font-size: 1.6rem;
  padding-block: 0rem 1.2rem;
  text-align: center;
  color: rgb(215, 10, 154);
  border-bottom: 1px solid rgba(61, 47, 142, 0.895);
}

.store {
  display: flex;
  justify-content: center;
  width: 75%;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.store__input {
  width: 100%;
  padding: 0.8rem 0.5rem 0.8rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  margin-inline: 0;
}

input:focus {
  outline: none;
  border: 1px solid rgba(61, 47, 142, 0.895);
}

/*# sourceMappingURL=main.css.map */
