* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (max-width: 480px) {
  html {
    font-size: 75%;
  }
}

body {
  font-size: 1.7rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(rgb(172, 165, 138), rgba(172, 165, 138, 0.447), rgb(172, 165, 138));
}

html, body {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  background-color: beige;
  width: 95%;
  max-width: 800px;
  min-height: 600px;
  margin: 3rem auto 5rem auto;
  padding-inline: 2.5rem;
  box-shadow: 0px 0px 5px rgba(61, 47, 142, 0.895);
  border-radius: 12px;
  position: relative;
  padding-bottom: 3.5rem;
}
@media (min-width: 630px) {
  .main {
    padding-top: 2rem;
    padding-inline: 5rem;
  }
}

input[type=text],
.store__input,
.shopping-item__input {
  font-size: inherit;
  font-family: inherit;
}

.list {
  list-style: none;
}
@media (min-width: 630px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0.8rem;
  }
}

.shopping-item {
  display: none;
}

.shopping-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem 2rem;
}

.shopping-item__input {
  padding: 8px 10px 8px 15px;
  width: 82%;
  height: 4.4rem;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 1.2rem;
  margin-inline: 0;
}
@media (min-width: 630px) {
  .shopping-item__input {
    max-width: 55%;
  }
}

input:focus {
  outline: none;
  border: 1px solid #d70a9a;
}

.list__label {
  padding-left: 1.5rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgba(61, 47, 142, 0.895);
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.612);
  border: 1px solid rgba(61, 47, 142, 0.2);
  flex-basis: 100%;
}

.list__item {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox {
  height: 2.5rem;
  width: 2.5rem;
  accent-color: #d70a9a;
}

input[type=checkbox] {
  margin: 0;
}

.btn {
  all: unset;
  color: #fff;
  background-color: rgba(61, 47, 142, 0.895);
  border-radius: 50%;
  border: 2px solid beige;
  box-shadow: 0 0 0 2px rgba(61, 47, 142, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
  display: none;
}

.list:has(.checkbox:checked) + .btn-wrapper {
  display: flex;
}

.btn-delete {
  width: 44px;
  height: 44px;
  font-size: 2rem;
  margin-inline: auto 0;
  text-align: center;
}

.btn-delete svg path {
  stroke: beige;
  stroke-width: 1.3px;
  paint-order: stroke fill;
}

.shopping-item__btn svg path {
  stroke: #fff;
  stroke-width: 0.7px;
  paint-order: stroke fill;
}

.store__btn {
  all: unset;
  color: rgba(61, 47, 142, 0.895);
  padding: 0.8rem 1.5rem;
  position: absolute;
  right: 0%;
  top: 5%;
  background-color: transparent;
  font-weight: bold;
}

.shopping-item__btn {
  width: 44px;
  height: 44px;
  font-size: 2rem;
  text-align: center;
}

.main__heading {
  font-size: 2.5rem;
  padding-block: 3.5rem 0.5rem;
  line-height: 1;
  text-align: center;
  color: rgba(61, 47, 142, 0.895);
}

.main__subheading {
  font-size: 1.8rem;
  padding-block: 0rem 1.2rem;
  text-align: center;
  color: rgb(215, 10, 154);
  border-bottom: 1px solid rgba(61, 47, 142, 0.895);
}

.store {
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-inline: auto;
}
@media (min-width: 630px) {
  .store {
    max-width: 50%;
  }
}

.store__input {
  width: 100%;
  height: 4.4rem;
  padding: 8px 5px 8px 15px;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
  border: 1px solid #d70a9a;
}

/*# sourceMappingURL=main.css.map */
