@use "../abstracts/" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 1.7rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(
    $background-color-dark,
    rgba(172, 165, 138, 0.447),
    $background-color-dark
  );
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.main {
  background-color: $background-color;
  width: 90%;
  max-width: 800px;;
  min-height: calc(100dvh - 7rem);
  margin: 3rem auto 4rem auto;
  padding-inline: 2.5rem;
  box-shadow: 0px 0px 5px $contrast-color;
  border-radius: 0.3rem;
  position: relative;
  padding-bottom: 1.5rem;
  @media (min-width: 630px) {
    padding-top: 2rem;
    padding-inline: 5rem;
  }
}
input[type="text"],
.store__input,
.shopping-item__input {
  -webkit-text-size-adjust: 100%;
  font-size: 17px !important; 
}